/* 全局容器 */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7; /* 主背景色 */
  font-family: Arial, sans-serif;
}

/* 标题样式 */
.app-title {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 32px;
  color: #1636C7;
}

/* 主日历容器 */
.main-calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 日历区布局 */
.calendar-section {
  flex: 1;
  display: flex;
}

/* 日任务（左侧） */
.day-calendar {
  flex: 3;
  margin-right: 10px;
}

/* 月视图 */
.month-calendar {
  flex: 2;
  padding: 10px;
  border-right: 1px solid #ccc;
  position: relative; /* 为 TaskForm 的定位提供支持 */
}


/* 控制按钮区 */
.calendar-controls {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #ddd;
}

/* 子日历按钮 */
.calendar-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #E53542;
  color: white;
  transition: background-color 0.3s;
}

.calendar-button.active {
  background-color: #61A2F9;
}

.calendar-button:hover {
  background-color: #C5302E;
}

/* 添加子日历按钮 */
.add-calendar-button{
  background-color: #9FDDEC;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-task-button {
  background-color: #9FDDEC;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto; /* 将按钮推到最右侧 */
}

.add-calendar-button:hover {
  background-color: #7CC1C4;
}
